.profile-container{
     display: flex;
     justify-content: flex-start;
     margin-top: 80px;
     width: 100vw;
    background-color: #f4f6f8;
     padding-bottom: 30px;
}
.profile-info > p{
    margin-top: 5px;
    margin-left: 3px;
    font-weight: bold;
}
.profile-container > div {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* Centered "Ankita's Profile" */
.profile-header:first-child {
  justify-content: center;
   margin: auto;
   border-radius: 5px;
}
.profile-wrap{
    display: flex;
    align-items: center;  
    text-align: center;
    gap: 10px;
}
.profile-icon{
    font-size: 1.5rem;
    color: #693382;
}
.profile-name{
   color: #693382;
   font-weight: 1000;
}
.profile-info{
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
}
.black{
    color:black;
}
.health-goals{
     display: flex;
     flex-direction: column;
}
.add-health{
   display: flex;
   flex-direction: column;
}
.last-row{
     display: flex;
     gap: 20px;
}
.last-row > div{
     width: 50%;
}
.profile-wrap>input{
     border: 1px solid #ddd;
}
.health-btn{
     border: none;
     background-color: white;
}
.scroll-box {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}
.symptom-box {
  background: #f9f9ff;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.scroll-box {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

.chat-box {
  background: #f5f8ff;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  /* margin-bottom: 10px; */
}

.message-thread {
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  margin-top: 6px;
}
  .user-msg {
  background-color: #e0f0ff;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 5px;
}

 .chat-box .ai-msg {
 background-color: #e1dfe6; 
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 5px;
}
.goal-list {
  padding-left: 20px;
}

.goal-item {
  background-color: #c0fecf;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}
.scroll-box {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.chat-box {
  background: #f5f8ff;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 8px; /* tighter spacing */
}

.chat-meta {
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-wrap: wrap;
  font-size: 0.95rem;
  color: #333;
}
.report-date {
  font-weight: bold;
  color: #444;
}
.latest-header {
  font-weight: bold;
  color: #0018B5;
}
.message-thread {
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-msg {
  background-color: #e0f0ff;
  padding: 8px;
  border-radius: 6px;
}

.ai-msg {
  background-color: #e1dfe6;
  padding: 8px;
  border-radius: 6px;
}
